.checkout{
  margin-top: 11em;

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
}

.checkout .order{
  flex: 1;
}

.checkout h1{
  text-align: center;
  margin-bottom: 1em;
}