.customer-reviews h1{
  text-align: center;
  margin: 2em 0;
}

.customer-reviews{
  border: 1px solid red;
}

.customer-reviews .reviews-section{
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, 40rem); */
  justify-content: center;
  
  gap: 3em;
}

.reviews-section *{
  flex: 1;
}