footer{
  background-color: #F2F0F1;
  padding-top: 6em;
  margin-top: 6em;
}

footer .container{
  display: flex;
  gap: 3em;
}

footer .container *{
  flex: 1;
}

footer .left-section .icons,
footer .bottom-section .icons{
  cursor: pointer;
}

footer .left-section .icons img{
  width: 2.7rem;
}

footer .icons img + img{
  margin-left: 1em;
}

footer .left-section p{
  margin: 1em 0;
}

footer .bottom-section.container{
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.20);
  margin-top: 6em;
  padding: 2em 0;
}

footer .bottom-section p{
  flex: 2;
}

footer .bottom-section .icons{
  flex: 1.4;
}

footer .bottom-section .icons img{
  width: 6rem;
}