form .title{
  font-weight: 700;
  margin-bottom: 1em;
  text-align: center;
}

form .field + .title{  
  margin-top: 3em;
  border-top: 0.5px solid rgba(0, 0, 0, 0.20);
  padding-top: 1em;
}

form .field{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0 2em;
}

form .field + .field{
  margin-top: 1.5em;
}

form input{
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  padding: 0.45em 0 0.45em 0.45em;
  flex: 2;
}

form label{
  margin-right: 1em;
  flex: 0.5;
}

form button{
  border-radius: 25px;
  padding: 0.5em 4em;
  margin-top: 2em;
  margin-left: 50%;
  transform: translateX(-50%);
}

input.input-error{
  border: 2px solid red;
}

.error-message{
  color: red;
  font-size: 1.45rem;
  text-transform: capitalize;
  margin-left: 26%;
  margin-bottom: .5em;
}