@font-face {
  font-family: 'Satoshi';
  src: url('../../fonts/Satoshi-Variable.woff2') format('woff2'),
       url('../../fonts/Satoshi-Variable.woff') format('woff'),
       url('../../fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Integral-cf';
  src: url('../../fonts/integralcf-bold.otf');
}

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

button, a{
  cursor: pointer;
}

button{
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  transition: all ease-in-out 150ms;
}

button:hover{
  opacity: 0.75;
}

button:active{
  opacity: 0.45;
}

a{
  text-decoration: none;
  color: inherit;
}

img{
  max-width: 100%;
}

h1{
  font-family: 'Integral-cf';
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 900;
}

p, button, input, label{
  font-family: 'Satoshi';
  font-size: 1.7rem;
  font-weight: 400;
}

input[type=date]:invalid{
  color: grey;
}

.container{
  max-width: 85%;
  margin: 0 auto;
}

@media (max-width: 750px) {
  html{
    font-size: 55%;
  }
}

@media (max-width: 651px) {
  html{
    font-size: 45%;
  }
}

@media (max-width: 535px) {
  html{
    font-size: 40%;
  }
}

@media (max-width: 465px) {
  html{
    font-size: 35%;
  }
}

@media (max-width: 400px) {
  html{
    font-size: 30%;
  }
}