.edit-profile-pic{
  position: fixed;
  width: 80%;
  background-color: #F2F1F0;
  padding: 5em 0 2em 0;
  border-radius: 25px;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}

.edit-profile-pic button{
  display: block;
  margin-top: 1.5em;
  padding: 0.5em 3em;
  border-radius: 25px;
}

.edit-profile-pic .icon{
  width: 2.5rem;
  right: 1.5%;
  top: 5%;
  position: absolute;
  cursor: pointer;
}

.icon:hover{
  opacity: 0.75;
}

.icon:active{
  opacity: 0.45;
}

.hide{
  display: none;
}

.view-profile{
  margin-top: 9em;
}

.view-profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5em;
}

.view-profile .left-section{
  position: relative;
}

.view-profile .left-section img{
  height: 35rem;
}

.view-profile .left-section .icon{
  width: 2.5rem;
  position: absolute;
  height: fit-content;
  right: 0;
  bottom: 0.5%;
  cursor: pointer;
  background-color: #FFFFFF;
}

.view-profile .right-section > *{
  margin-bottom: 0.5em;
}

.view-profile .right-section label{
  font-weight: 800;
}

.view-profile .bottom-section button{
  display: block;
  margin: 0 auto;
  padding: 0.5em 0;
  border-radius: 25px;
  min-width: 20rem;
}

.view-profile .bottom-section button{
  margin-bottom: 1.5em;
}

.view-profile .bottom-section > button:last-child{
  /* margin-top: 1.5em; */
  background-color: rgb(203, 12, 12);
}

@media (max-width: 900px) {
  .view-profile{
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .view-profile .left-section img{
    height: 30rem;
  }
}

@media (max-width: 550px) {
  .view-profile .left-section img{
    height: 25rem;
  }
}

@media (max-width: 400px) {
  .view-profile .left-section img{
    height: 20rem;
  }
}